<!DOCTYPE html>

<head>
    {% include header.html %}
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <nav class="navbar navbar-default navbar-static-top">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{{ site.configs.index_path }}">{{ site.locals.navbar_title_index }}</a>
                            <a class="navbar-brand" href="{{ site.configs.archive_path }}">{{ site.locals.navbar_title_archive }}</a>
                            <a class="navbar-brand" href="{{ site.configs.rss_path }}">{{ site.locals.navbar_title_rss }}</a>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            </div>
        </div>
        {{ content }}
    </div>
    {% include footer.html %}
</body>

</html>
